.login {
    text-align: right;
}

 .parallax-container {
      height: 550px;
}

.section-top {
    background: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    min-height: 500px;
}

.section-top h1 {
    color: #383838;
}

img {
    max-width: 500px;
    width: 100%;
}